<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Knight BFS</title>
    {% load static %}
    <script src="{% static '/js/script.js' %}" type="text/javascript"></script>


</head>

<body style="background-color: aqua;">
    <h2 style="margin-left:600px">Knight BFS</h2>
    <img src="{% static '/images/chess_knight.jpg' %}" style="margin-left:300px;" alt="knight">
</body>


</html>